In [2]:
print("Hello Juputer on Anaconda")

Hello Juputer on Anaconda

### 리스트 만들기

In [3]:
#파이썬에서의 배열은 #0,#1,#2 순서로 정리됨
movies=["The Holy Grail",
       "The Life of Brian", "The Meaning of Life"]
print(movies)

print(movies)

['The Holy Grail', 'The Life of Brian', 'The Meaning of Life']
['The Holy Grail', 'The Life of Brian', 'The Meaning of Life']

In [4]:
print(movies[1])
print(movies[0])

The Life of Brian
The Holy Grail

#### 파이썬의 리스트 간단한 메서드 둘러보기

**len** 길이 함수

In [5]:
cast = ["Cleese", 'Palin','Jones','Idle']
print(cast)

['Cleese', 'Palin', 'Jones', 'Idle']

In [6]:
print(len(cast))

4

In [7]:
print(cast[1])
len(cast)

Palin

4

**Append**를 이용해 맨뒤에 데이터 항목을 추가 할 수 있다.

**Pop**은 리스트 제일 마지막 항목을 삭제

**extend()** 여러 데이터 항목들을 제일 뒤에 추가 할 수 있다.

In [8]:
cast.append("Gilliam")
print(cast)

['Cleese', 'Palin', 'Jones', 'Idle', 'Gilliam']

In [9]:
cast.pop()

'Gilliam'

In [10]:
cast

['Cleese', 'Palin', 'Jones', 'Idle']

In [11]:
cast.extend(["Gilliam","Chapman"])
cast

['Cleese', 'Palin', 'Jones', 'Idle', 'Gilliam', 'Chapman']

**Remove()** 메서드로 특정 데이터 항목을 검색해 제거 가능

**Insert()** 메서드로 특정 데이터 항목 앞에 데어터 추가도 가능

In [12]:
cast.remove("Chapman")

In [13]:
print(cast
     )

['Cleese', 'Palin', 'Jones', 'Idle', 'Gilliam']

In [14]:
cast.insert(0, 'Chapman')
cast

['Chapman', 'Cleese', 'Palin', 'Jones', 'Idle', 'Gilliam']

### 예제 실습
기존 Movie 리스트에 년도를 삽입해보자

In [15]:
# 삽입으로 만든 경우
movies.append('1983')
print(movies)

['The Holy Grail', 'The Life of Brian', 'The Meaning of Life', '1983']

In [16]:
movies.insert(1,'1975')
movies

['The Holy Grail', '1975', 'The Life of Brian', 'The Meaning of Life', '1983']

In [17]:
movies.insert(3,'1979')
movies

['The Holy Grail',
 '1975',
 'The Life of Brian',
 '1979',
 'The Meaning of Life',
 '1983']

위 경우 실수로 Insert 코드를 여러번 실행해서 1979 데이터가 많이 추가 되었다.

In [34]:
movies = list(set(movies))
movies

['The Life of Brian',
 'The Meaning of Life',
 '1979',
 'The Holy Grail',
 '1975',
 '1983']

In [18]:
# 이후 작성 예정

# For 반복문을 통한 반복 출력

In [20]:
fav_movies = ["The Holy Grail", "The Life of Brian"]

for each_flick in fav_movies:
    print(each_flick)

The Holy Grail
The Life of Brian

## 문법 정리
### For 타깃 식별자 in 리스트
#### 리스트 처리코드

아래 들여쓰기 부분을 **Suite** 라고 부릅니다.
위 구문은 List 의 첫번째 항목부터 마지막 항목까지 값을 대입해가며 아래 들여쓰기 "Sutie" 를 실행해갑니다.

## While 루프도 비슷한 용도로 사용합니다.

In [22]:
count = 0
while count < len(movies):
    print(movies[count])
    count = count+1

The Holy Grail
1975
The Life of Brian
1979
The Meaning of Life
1983